/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/style.css ***!
  \*********************************************************************/
:root {
  --bg-colour: black;
  --highlight-colour: white;
  --font: 'Verdana';
}

* {
  margin: 0;
  /* border: 1px solid red; */
  padding: 0;
}

body {
  background-color: var(--bg-colour);
}

